<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Combo Search</title>
</head>
<body>

<form action="/search" method="post">
    <h3>Enter search terms separated by commas:</h3>
    <input type="text" placeholder="Enter comma separated search terms here:" name="searchtermscsv" size="100%">
    <h3>Enter a general search term to be included in each search combo:</h3>
    <input type="text" placeholder="Enter a search term to be added to each search combo" name="generalsearchterm">
    <button>Generate searches</button>
</form>

{{#each searchCombos}}
    <p><a href="http://www.google.com/search?q={{this}}">{{ this }}</a></p>
{{/each}}
</body>
</html>